    
body {
    font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: ;
}

.profile {
    width: 180px;
    display: block;
    margin: 0 auto;
}

.jumbotron {

    background-image: url(../img/bg.jpg);
    background-size: cover; 
}